
body{
    background-color: rgb(223, 235, 222);   
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
a {
   color:black;
   text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:chartreuse
}
a:visited{
    color:grey
}
.img{
    color-interpolation-filters: auto;
    width: 200px;
    border-radius: 20%;
    box-shadow: 4px 4px 14px;
    display: block;
    margin: 0 auto;
    
}
.card{
    padding: 15px 20px;
    background-color: rgb(172, 202, 192);
    margin-bottom: 20px;
    border-radius: 20;

}
.bg-green{
     background: #e5ffe7;
}
.list li{
    margin-bottom:5px;
}
.pop textarea{
    border: none; 
    background: transparent;
    border-bottom: 1px solid rgb(3, 194, 130);
    border-top: 1px solid rgb(3, 194, 130); ;
    outline: none;
    font-family: inherit;
}
.card h1{
    text-align: center;
}
